[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
environs = "==9.5.0"
jinja2 = "*"
langchain = "==0.0.319"
openai = "==0.28.1"
aiogram = "==3.1.1"
tiktoken = "==0.5.1"
faiss-cpu = "*"
selenium = "==4.14.0"
html2text = "*"
playwright = "==1.39.0"
bs4 = "==0.0.1"
google-api-python-client = "*"
duckduckgo-search = "*"
sendgrid = "*"
cloudscraper = "*"
psycopg2 = "*"
python-telegram-bot = {extras = ["job-queue", "rate-limiter"], version = "*"}
chromadb = "*"
google-search-results = "*"
fake-useragent = "*"
black = "==23.10.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"

[scripts]
lint = "flake8"
black = "black ."